@page "/houses"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Models;
@using System.Net.Http.Json

<style>
    .house-info {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 65%;
        padding: 10px;
        box-sizing: border-box;
    }
</style>

@if (ListOfHouses == null)
{

    <p>Ta det lugnt</p>
}
else
{
    <div class="house-details card">
        <div class="houses">
            @foreach (var house in ListOfHouses)
            {
                <div class="realtor-house-card" @onclick="() => NavigateToHouse(house.HouseId)" style="background-image: url('@(house.Gallery.FirstOrDefault()?.ImageURL ?? "https://bphomes.co.uk/wp-content/uploads/2023/03/placeholder-867x600.jpg")');">
                    <div class="house-info">
                        <h3>@house.Adress</h3>
                        <h2>@(house.Price.ToString("N0") + " kr")</h2>
                        <p>@house.Municipality.MunicipalityName, @house.County.CountyName</p>
                        @if (@house.Category != null)
                        {
                            <p class="category-line">
                                @if (@house.Category.CategoryName == "Villa")
                                {
                                    <span class="material-symbols-outlined">
                                        home
                                    </span>
                                }
                                else if (@house.Category.CategoryName == "Par/Kedje/Radhus")
                                {
                                    <span class="material-symbols-outlined">
                                        other_houses
                                    </span>
                                }
                                else if (@house.Category.CategoryName == "Lägenhet")
                                {
                                    <span class="material-symbols-outlined">
                                        location_city
                                    </span>
                                }
                                else if (@house.Category.CategoryName == "Fritidsboende")
                                {
                                    <span class="material-symbols-outlined">
                                        cottage
                                    </span>
                                }
                                else if (@house.Category.CategoryName == "Gård")
                                {
                                    <span class="material-symbols-outlined">
                                        fence
                                    </span>
                                }
                                @house.Category.CategoryName
                            </p>
                            <p>Antal rum: @house.NumberOfRooms | Boarea: @house.LivingArea ㎡</p>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
 }

<div class="button-row">
    <NavLink href="/houses/create" Match="NavLinkMatch.All"><button>Skapa ny bostad</button></NavLink>
    <NavLink href="/soldhouses" Match="NavLinkMatch.All"><button>Visa sålda bostäder</button></NavLink>
</div>

@code {

    private List<House> ListOfHouses { get; set; }



    protected override async Task OnInitializedAsync()
    { 
        ListOfHouses = await Http.GetFromJsonAsync<List<House>>("api/house");
    }

    void UpdateHouse(int id)
    {
        NavigationManager.NavigateTo($"/houses/update/{id}");
    }
    void DeleteHouse(int id)
    {
        NavigationManager.NavigateTo($"/houses/delete/{id}");
    }

    void NavigateToHouse(int id)
    {
        NavigationManager.NavigateTo($"/browse/{id}");
    }
}