@page "/browse/{id:int}"
@using Models;
@inject HttpClient Http
@using System.Net.Http.Json

@*Author: Eden Yusof-Ioannidis*@

@if (House == null)
{
    <p>Loading...</p>
}
else
{
    <h3>@House.Adress</h3>
    @if(House.County != null)
    {
        <h4>@House.Municipality.MunicipalityName, @House.County.CountyName</h4>
    }
    @if (House.Category != null)
    {
        <p>Bostadstyp: @House.Category.CategoryName</p>
    }
    <p>@House.Description</p>
    @if(House.Gallery != null && House.Gallery.Count > 0)
    {
        @foreach (var image in House.Gallery)
        {
            <img src="@image.ImageURL" />
        }
    }
    <p>Antal rum: @House.NumberOfRooms</p>
    <p>Boarea: @House.LivingArea &#13217</p>
    <p>Biarea: @House.AuxiliaryArea &#13217</p>
    <p>Tomtarea: @House.PlotArea &#13217</p>
    <p>Pris: @House.Price.ToString("#,0", new System.Globalization.CultureInfo("sv-SE")) kr</p>

    <iframe width="450"
            height="250"
            frameborder="0" style="border:0"
            referrerpolicy="no-referrer-when-downgrade"
            src="@srcUrl"
            allowfullscreen>
    </iframe>

}

@code {
    [Parameter]
    public int Id { get; set; }
    public string srcUrl { get; set; }
    public APIKey APIKey { get; set; }

    private House House { get; set; } = new House();

    protected override async Task OnInitializedAsync()
    {
        House = await Http.GetFromJsonAsync<House>($"api/house/{Id}");
        APIKey = await Http.GetFromJsonAsync<APIKey>("api/APIKey");
        srcUrl = ($"https://www.google.com/maps/embed/v1/place?key={APIKey.Key}&q={House.Adress}");
        StateHasChanged();
    }
}
