@inject HttpClient Http



@*Author: Susanna Renström*@
<div class="houses-list">
    @if (SoldHouses != null)
    {
        RecentlySoldHouses = SoldHouses.Where(h => h.HasBeenSold == true && h.SoldDate >= tenDaysAgo).ToList();

        @if (RecentlySoldHouses.Count != 0)
        {
            <p>Nyligen sålda objekt</p>
 
            @foreach (var house in RecentlySoldHouses.OrderByDescending(x => x.SoldDate))
            {
                <div class="house-card">
                    <div class="card-left">
                        @if (house.Gallery != null && house.Gallery.Count > 0)
                        {
                            <img src="@house.Gallery.FirstOrDefault().ImageURL">
                        }
                    </div>
                    <div class="card-left">
                        <div class="house-info">
                            <h3>@house.Adress</h3>
                            <p>@house.Municipality.MunicipalityName, @house.County.CountyName</p>
                            <p class="category-line">
                                @if (house.Category.CategoryName == "Villa")
                                {
                                    <span class="material-symbols-outlined">
                                        home
                                    </span>
                                }
                                else if (house.Category.CategoryName == "Par/Kedje/Radhus")
                                {
                                    <span class="material-symbols-outlined">
                                        other_houses
                                    </span>
                                }
                                else if (house.Category.CategoryName == "Lägenhet")
                                {
                                    <span class="material-symbols-outlined">
                                        location_city
                                    </span>
                                }
                                else if (house.Category.CategoryName == "Fritidsboende")
                                {
                                    <span class="material-symbols-outlined">
                                        cottage
                                    </span>
                                }
                                else if (house.Category.CategoryName == "Gård")
                                {
                                    <span class="material-symbols-outlined">
                                        fence
                                    </span>
                                }
                                @house.Category.CategoryName
                            </p>
                            <p>@(house.Price.ToString("N0") + " kr")</p>
                            <p id="card-description">@(house.Description?.Split('.')[0])</p>
                        </div>
                    </div>
                </div>


            }
        }
    }
</div>


@code {
    DateTime tenDaysAgo = DateTime.Today.AddDays(-10);
    public DateTime SoldDate { get; set; }
    public List<House> SoldHouses { get; set; } = new List<House>();
    public List<House> RecentlySoldHouses { get; set; } = new List<House>();

    protected override async Task OnInitializedAsync()
    {
        SoldHouses = await Http.GetFromJsonAsync<List<House>>("api/house/getallsold");

    }



}
